<div class="container">
    <form #signupForm="ngForm" (ngSubmit)="onSignUp(signupForm)">
        <h2>Register here</h2>

        <div>
            <label>Email:</label>
            <input type="email" name="email" ngModel required email />
            <div *ngIf="signupForm.controls['email']?.invalid && signupForm.controls['email']?.touched">
                <small id="msg">email is required and must be valid.</small>
            </div>
        </div>

        <div>
            <label>Password:</label>
            <input type="password" name="password" ngModel required minlength="6" />
            <div *ngIf="signupForm.controls['password']?.invalid && signupForm.controls['password']?.touched">
                <small id="msg">Password is required and must be at least 6 characters.</small>
            </div>
        </div>

        <button type="submit" [disabled]="signupForm.invalid">Sign Up</button>
        <span><span></span>Already registered ?<a routerLink="/login">signin here</a></span><br>
        <hr>
                     <!-- Error message alert -->
  <div class="alert alert-danger" role="alert" *ngIf="errMessage !== ''">
    {{ errMessage }}
  </div>

  <!-- Success message alert -->
  <div class="alert alert-info" role="alert" *ngIf="successMessage !== ''">
    {{ successMessage }}
  </div>
    </form>
</div>
