<div id="container">
    <form *ngIf="!isUpdated">
        <div class="form-group">
            <label> Enter Old Password:</label>
            <input type="password" name="new" [(ngModel)]="data.oldPassword">
          </div>
    <div class="form-group">
        <label>New Password:</label>
        <input type="password" name="new" [(ngModel)]="data.newPassword">
      </div>
      <div class="form-group">
        <label>Confirm Password:</label>
        <input type="password" name="Confirm" [(ngModel)]="confirmPassword">
      </div>
      <button (click)="onUpdate()"  class="btn btn-primary">Update</button>
      <div>
        <p  id="success" *ngIf="message">*{{message}}</p>
        <p  id="err" *ngIf="errMassage">*{{errMassage}}</p>
      </div>
    </form>
    
    <div *ngIf="isUpdated" id="updated">
      <h3>Thank you !!!!</h3>
      <br>
      <h5>You had successfully reset your password</h5>
    </div>
    </div>

