
  <div id="body">
    <div class="container">
        <div class="sidebar">
           
            <ul class="sidebar-menu">
                <h3>Dashboard</h3>
                <li><a routerLink="template_list" appClicked>My Template</a></li>
                <li><a routerLink="upload_template" appClicked>Upload Template</a></li>
                <li><a routerLink="my_document" appClicked>My Document</a></li>
                <li><a routerLink="reset_password" appClicked>Reset Password</a></li>
            </ul>   
        </div>
        <div id =outlet>
         <router-outlet></router-outlet>
        </div>
    </div>
  </div>

  
    